$link-color = #00a5e6
$hover-link-color = darken(saturate($link-color, 20), 20)
$content-bg = #fff
// $content-bg = url('/a2b8e37dbe533b/images/bg_congruent_pentagon.png')

*
	box-sizing: border-box

body
	-webkit-font-smoothing: antialiased
	// text-rendering: optimizeLegibility
	font-size: 14px

:root:fullscreen body
	font-size: 36px

@require 'includes/normalize.styl'
@require 'includes/app-onenote.styl'
@require 'includes/body-initial.styl'
@require 'includes/extra-toc.styl'
@require 'includes/extra-callout.styl'
@require 'fonts/glyphicons.styl'