@require 'includes/base.styl'

$link-color = #00a5e6
$hover-link-color = darken(saturate($link-color, 20), 20)

$content-bg = #fcfcfc
$nav-bg = #eee

/*==========================================
 * THEME
 *==========================================*/

body
  background: url('/images/ricepaper_v3.png')

a
  color: $link-color

  &:hover
    color: $hover-link-color

  &:active
    outline: 2px solid $link-color
    z-index: 10

    &:hover
      outline: 2px solid $hover-link-color

.m-container
  background: $content-bg
  border-radius: 8px 8px 4px 4px

section[role=content]
  padding: 16px

/*==========================================
 * Directory listing
 *==========================================*/

$nav-active-bg = #b2f6a5
$nav-link-color = #888

.m-navigation
  background: $nav-bg

.m-navigation > ul > li

  & > a
    color: $nav-link-color

    &:hover,
    &:focus
      background: lighten($nav-bg, 8)

    &:active:hover
      outline: 2px solid $nav-active-bg

  &.active > a,
  &.active > a:hover,
  &.active > a:focus
    background: $nav-active-bg
    color: #00920c

  // &.file > a::before,
  // &.directory > a::before
  //   display: inline
  //   padding: .2em .6em .3em
  //   font-size: 75%
  //   font-weight: bold
  //   line-height: 1
  //   color: #fff
  //   text-align: center
  //   white-space: nowrap
  //   vertical-align: baseline
  //   border-radius: .25em
  //   margin-right: 7px

  // &.directory > a::before
  //   content: "DIR"
  //   background-color: #5cb85c

  // &.file > a::before
  //   content: "MD"
  //   background-color: #999

/*==========================================
 * Content
 *==========================================*/

article
  font-family: 'Inconsolata', monospace
  line-height: 1.5
  font-size: 16px
  color: #333

  h1, h2, h3, h4, h5, h6
    font-family: 'Avenir Next Condensed'
    font-weight: bold

  h1
    font-size: 1.7em

  h2
    font-size: 1.4em

  h3
    font-size: 1.2em
    font-style: oblique

  h4
    font-size: 1em

  ul
    list-style-type: disc
    padding-left: 30px

  a
    text-decoration: underline

#instantclick-bar
  background-color: $hover-link-color