@require 'fonts/glyphicons.styl'

$link-color = #00a5e6
$hover-link-color = darken(saturate($link-color, 20), 20)

$content-bg = #fff

/*==========================================
 * POSITIONING
 *==========================================*/

body
	-webkit-font-smoothing: antialiased
	// text-rendering: optimizeLegibility

html, body
	height: 100%

.m-container
	display: flex
	flex-direction: column
	min-height: 100%

	> .m-header
		flex-shrink: 0

	> div
		flex: 1
		display: flex

		> section
			flex: 1

		> nav
			flex: 0 0 250px

/*==========================================
 * THEME
 *==========================================*/

html
	background: $content-bg //url('/images/bg_congruent_pentagon.png')

body
	background: initial // override Bootstrap

/*==========================================
 * Breadcrumbs
 *==========================================*/

.m-header
	padding: 8px 50px 10px
	background-color: hsl(0, 0%, 96%)

	ol
		margin: 0
		padding: 0

	a:hover,
	a:focus
		text-decoration: none

	> ol
		list-style: none
		font-size: 1.1em

		> li:first-child
			margin: 0
			font-size: 1.8em
			line-height: 1.25
		> li
			margin: 0
			margin-top: 6px
			> ol
				list-style-type: none
				> li
					display: inline-block
					&::after
						content: "•"
						color: #ccc
					&:last-child::after
						display: none
					> a
						padding: 0 10px
					&:first-child > a
						padding-left: 0
					&:last-child > a
						padding-right: 0

/*==========================================
 * File/Directory sidebar
 *==========================================*/

.m-header
	border-bottom: 5px solid transparent // color later

.m-navigation
	border-left: 1px solid transparent // color later

	> ul > li
		&:first-child
			margin-top: 12px

		> a
			border-top: 1px solid transparent
			border-bottom: 1px solid transparent
			cursor: default

.m-colorpicker
	position: absolute
	top: 50px
	right 15px

.m-search
	position: absolute
	top: 11px
	right: 15px
	width: 300px
	border: none
	outline: none
	padding: 4px
	padding-left: 5px
	color: #666

/*==========================================
 * Custom colors
 *==========================================*/

custom-color($stripe, $nav-bg, $nav-border, $nav-link, $nav-link-active)

	.m-header
		border-bottom-color: $stripe
		a
			color: #a0a0a0
			transition: color 0.1s
		a:hover,
		a:focus
			color: $stripe

	.m-search:focus
		box-shadow: 0 0 2px 2px rgba($stripe, 0.75)
		background: darken(#fff, 1)

	.m-navigation
		background: $nav-bg
		border-left-color: $nav-border

		> ul > li
			> a
				color: $nav-link
				&:hover,
				&:focus
					background: lighten($nav-bg, 2)

			&.active
				box-shadow: -2px 0 0 -1px $content-bg

				> a
					border-top-color: $nav-border
					border-bottom-color: $nav-border
				> a,
				> a:hover,
				> a:focus
					background: $content-bg
					color: $nav-link-active

	.m-page-title > h1
		color: $nav-link-active

.s-blue
	custom-color(#60aadf, #e2edf7, #b3d2ea, #005795, #1f8aca)

.s-yellow
	custom-color(#f9ba00, #fbf0d8, #f6d997, #b46800, #ec9b00)

.s-green
	custom-color(#3fbf77, #dff1e5, #aadcbb, #006f12, #00a346)

.s-red
	custom-color(#ff6d61, #ffe4e2, #fdb8b4, #b90000, #f3301a)

.s-purple
	custom-color(#d886c8, #f6e7f3, #e7c2e0, #8c237b, #c059af)

.s-cyan
	custom-color(#17b7cf, #dcf0f4, #a2d8e3, #006582, #0099b7)

.s-orange
	custom-color(#ff9a29, #fdebdc, #facba3, #ba3f00, #f27200)

.s-magenta
	custom-color(#f37cba, #fce6f0, #f6bed9, #a9026b, #e1499d)

.s-blue-mist
	custom-color(#849ad5, #e7ebf5, #c0cbe6, #27448a, #5976bf)

.s-purple-mist
	custom-color(#aa90d3, #ede9f5, #d2c6e4, #583589, #8967bd)

.s-tan
	custom-color(#bba08d, #f0ebe8, #d9cdc5, #6d4c33, #9e7d65)

.s-lemon-lime
	custom-color(#b7bf27, #eff1db, #d8dc9f, #6a6e00, #9ba200)

.s-apple
	custom-color(#7fbf60, #e6f1e1, #bfdbb2, #146e00, #50a226)

.s-teal
	custom-color(#00b9a4, #d7f0ec, #94d9cf, #00674f, #009b81)

.s-silver
	custom-color(#9daebd, #ebeef1, #cbd3da, #475d6e, #798ea1)

.s-red-chalk
	custom-color(#f96285, #fde2e7, #f8b4c1, #ae0022, #e71858)

.s-none
	custom-color(#a0a0a0, #ebebeb, #cdcdcd, #4c4c4c, #7d7d7d)

/*==========================================
 * Table of contents
 *==========================================*/

.m-toc
	display: inline-block
	margin-bottom: 15px
	margin-left: 15px
	border: 1px solid #aaa
	padding: 12px
	float: right

	background-color: #f9f9f9

	> .toc-heading
		font-weight: bold
		padding-bottom: 0

		> .toggle
			font-weight: normal

	ol
		margin: 0
		padding: 0
		counter-reset: item

		ol
			padding-left: 20px

		> li
			display: block
			counter-increment: item

			> a:before
				content: counters(item, '.') '. '

/*==========================================
 * Content
 *==========================================*/

article
	> h1:first-child,
	> h2:first-child,
	> h3:first-child,
	> h4:first-child,
	> h5:first-child,
	> h6:first-child
		margin-top: 0

	// Link URL in lists
	// ul > li > a[href]:first-child
	// 	font-weight: bold
	// 	&::after
	// 		content: attr(href)
	// 		display: table
	// 		width: auto
	// 		font-size: 0.8em
	// 		line-height: 1
	// 		color: #999
	// 		font-weight: normal

	code, kbd, pre, samp
		font-family: Inconsolata, monospace
		font-size: 1em
		color: inherit

	blockquote
		font-size: 1em

	// Callout boxes
	.callout
		margin: 20px 0
		padding: 20px
		border-left: 3px solid #5bc0de // #f0ad4e
		background-color: #f4f8fa // #fcf8f2

		h4
			margin-top: 0
			margin-bottom: 5px
			color: #5bc0de // #f0ad4e

		p:last-child
			margin-bottom: 0

		code
			background-color: #fff

		> li
			white-space: pre



.m-page
	font-size: 14px
	padding: 2em 3.5em
	position: relative

	> .m-page-buttons
		position: absolute
		top: 0
		right: 0

		> a
			display: inline-block
			vertical-align: top
			height: 50px
			width: @height * 1.1
			text-align: center
			line-height: @height
			font-size: 22px
			color: rgba(0, 0, 0, 0.02)

		> a:hover,
		> a:focus
			color: darken(white, 30)
			background: darken(white, 1)

	> .m-page-title
		margin-bottom: 1.5em

		> h1
			margin: 0
			margin-bottom: 2px
			font-size: 2.15em
			font-family: 'Avenir Next'
			// font-weight: bold

		> p
			margin: 0
			display: inline-block
			font-size: 0.85em
			opacity: 0.2
			color: #aaa
			transition: opacity 0.2s ease

		&:hover > p
			opacity: 1

:root:fullscreen
	.m-page
		font-size: 36px

		> .m-page-buttons
			position: fixed

	.m-header,
	.m-navigation,
	.m-page-title > p
		display: none

// Can't use this as long as browser vendors don't allow
// scrolling of the element in fullscreen mode
// .m-page:fullscreen
// 	font-size: 36px
// 	width: 100%
// 	overflow: auto
// 	background: $content-bg
// 	.m-page-title > p
// 		display: none

article
	font-family: sans-serif
	line-height: 1.5
	color: #333
	max-width: 46em

	h1, h2, h3, h4, h5, h6
		font-family: 'Avenir Next', sans-serif
		font-weight: bold

	h1, h2, h3
		margin-top: 1.2em
		margin-bottom: 0.8em

	h1
		font-size: 1.5em

	h2
		font-size: 1.3em

	h3
		font-size: 1.1em

	h4
		font-size: 1em

	ul
		list-style-type: disc
		padding-left: 2.15em

	a
		color: $link-color

		&:hover
			color: $hover-link-color
			text-decoration: underline

		&:active
			outline: 2px solid $link-color
			&:hover
				outline: 2px solid $hover-link-color

/*==========================================
 * Navigation
 *==========================================*/

.m-navigation > ul
	padding-left: 0
	margin-bottom: 0

	> li
		display: block

		> a
			// inline-block is needed, otherwise Chrome bugs on small widths
			display: inline-block
			width: 100%
			padding: 10px 22px

		> a:hover,
		> a:focus
			text-decoration: none // Override Bootstrap
			outline: 0            // Override Firefox

/*==========================================
 * Smaller screens
 *==========================================*/

@media (max-width: 767px)

	.m-container
		flex-direction: column-reverse

	.m-container > div
		flex-direction: column

		> nav
			flex-basis: auto
			border: none

		> section
			flex-basis: auto

	.m-search,
	.m-colorpicker
		position: initial
		margin-top: 10px