.m-page
	padding: 2em 3.5em
	background: $content-bg

/*==========================================
 * Title
 *==========================================*/

.m-page > .m-page-title
	margin: 0
	margin-bottom: 1.2em
	font-size: 2.15em
	font-family: 'Avenir Next', sans-serif

/*==========================================
 * Content
 *==========================================*/

.m-page > article
	color: #333
	line-height: 1.5
	// max-width: 46em

	> *:first-child
		margin-top: 0 !important
	> *:last-child
		margin-bottom: 0 !important

	h1, h2, h3, h4, h5, h6
		font-family: 'Avenir Next', sans-serif
	h1, h2, h3
		margin-top: 1.2em
		margin-bottom: 0.8em
	h1
		font-size: 1.5em
	h2
		font-size: 1.3em
	h3
		font-size: 1.1em
	h4
		font-size: 1em

	ul
		list-style-type: disc
		padding-left: 2.15em

	a
		color: $link-color
		text-decoration: none
	a:hover
		color: $hover-link-color
		text-decoration: underline
	a:active
		outline: 2px solid $link-color
	a:active:hover
		outline: 2px solid $hover-link-color

	code, kbd, pre, samp
		font-family: Inconsolata, monospace
		font-size: 1em
		color: inherit

	blockquote
		font-size: 1em

	// Link URL in lists
	// ul > li > a[href]:first-child
	// 	font-weight: bold
	// 	&::after
	// 		content: attr(href)
	// 		display: table
	// 		width: auto
	// 		font-size: 0.8em
	// 		line-height: 1
	// 		color: #999
	// 		font-weight: normal