.m-page > article .callout
	margin: 20px 0
	padding: 20px
	border-left: 3px solid #5bc0de // #f0ad4e
	background-color: #f4f8fa // #fcf8f2

	h4
		margin-top: 0
		margin-bottom: 5px
		color: #5bc0de // #f0ad4e

	p:last-child
		margin-bottom: 0

	code
		background-color: #fff