<ul class="col-xs-12 nav nav-pills nav-stacked m-navigation<% if (typeof content !== 'undefined') { %> hidden-xs col-sm-3<% } %>">
<% items.forEach(function(item) { -%>
	<li class="<% if (item.isDirectory) { %>directory<% } else { %>file<% } %>">
	<a href="<%- item.link %>">
		<% if (item.isDirectory) { -%><span class="label label-success">DIR</span><% } else { -%>
		<span class="label label-default">MD</span>
		<% } -%>
		<%= item.basename %>
	</a>
	</li>
<% }) -%>
</ul>