<% layout('layout') %>
<p class="title"><%= title %></p>
<ul class="nav">
<% items.forEach(function(item) { -%>
	<li class="<% if (item.isDirectory) { %>directory<% } else { %>file<% } %>">
	<a href="<%- item.link %>"><%= item.basename %></a>
	</li>
<% }) -%>
</ul>