<% layout('layout') -%>
<div class="container m-content">

<% if (typeof breadcrumbs !== 'undefined') { %>
	<ol class="breadcrumb">
	<% breadcrumbs.forEach(function(item) { %>
	<% if (!item.isActive) { %>
	  <li><a href="<%- item.path %>"><%= item.name %></a></li>
	<% } else { %>
	  <li class="active dropdown"><%= item.name %></li>
	<% }}) %>
	</ol>
<% } %>

	<div class="row">
	<% if (typeof content !== 'undefined') { %>
		<section role="content">
		<article class="col-xs-12 col-sm-9">
		<%- content %>
		</article>
		</section>
	<% } %>
	<% if (typeof items !== 'undefined') { %>
		<% include directory %>
	<% } %>
	</div>
</div>