<% layout('layout') -%>
<div class="container m-container">

<% if (typeof breadcrumbs !== 'undefined') { %>
	<ol class="breadcrumb">
	<% breadcrumbs.forEach(function(item) { %>
	<% if (!item.isActive) { %>
	  <li><a href="<%- item.path %>"><%= item.name %></a></li>
	<% } else { %>
	  <li class="active dropdown"><%= item.name %></li>
	<% }}) %>
	</ol>
<% } %>

	<div class="row">
		<section role="content" class="col-xs-12 col-sm-9">
		<% if (typeof content !== 'undefined') { %>
			<article>
			<%- content %>
			</article>
		<% } %>
		</section>
		<nav class="m-navigation col-xs-12 col-sm-3">
		<% if (typeof items !== 'undefined') { %>
			<% include directory %>
		<% } %>
		</nav>
	</div>
</div>