<% layout('layout') -%>
<div class="m-container s-apple">

	<header class="m-header">
		<ol>
			<% breadcrumbs.forEach(function(item) { %>
			<li><a href="<%- item.path %>"><%= item.name %></a></li>
			<% }) %>
			<% if (dirs.length > 0) { %>
			<li class="more">
			<ol>
				<% dirs.forEach(function(dir) { %><li><a href="<%- dir.link %>"><%= dir.name %></a></li><% }) %>
			</ol>
			</li>
			<% } %>
		</ol>
		<form method="get">
		<input type="text" name="q" class="m-search" autocomplete="off" spellcheck="false" dir="auto">
		</form>
	</header>

	<div>
		<section role="content" class="m-page">
		<% include page %>
		</section>
		<nav class="m-navigation">
		<% include directory %>
		</nav>
	</div>
</div>