<% layout('layout') -%>
<div class="m-container s-apple">

<% if (typeof breadcrumbs !== 'undefined') { %>
	<ol class="breadcrumb m-breadcrumb">
	<% breadcrumbs.forEach(function(item) { %>
	<% if (!item.isActive) { %>
	  <li><a href="<%- item.path %>"><%= item.name %></a></li>
	<% } else { %>
	  <li class="active dropdown"><%= item.name %></li>
	<% }}) %>
	</ol>
<% } %>

	<div>
		<section role="content">
		<% if (typeof content !== 'undefined') { %>
			<article>
			<%- content %>
			</article>
		<% } else { %>
			<h1 class="m-empty"><span class="glyphicon glyphicon-remove"></span> No index document</h1>
		<% } %>
		</section>

		<nav class="m-navigation">
		<% if (typeof items !== 'undefined') { %>
			<% include directory %>
		<% } %>
		</nav>
	</div>
</div>