<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/theme-one.css">
  <link rel="stylesheet" href="/stylesheets/hljs/github.css">
  <link rel="icon" href="/images/favicon.png">
  <!--
  We don't do this because we don't want chrome to prerender pages that we will load by ajax instead
  <% if (typeof prevItem !== 'undefined') { %><link rel="prev" href="<%- prevItem.link %>"><% } %>
  <% if (typeof nextItem !== 'undefined') { %><link rel="next" href="<%- nextItem.link %>"><% } %>
  -->
  <!-- <script src="/javascripts/vendor/react.js" defer></script> -->
  <script>
  addEventListener('popstate', function() {
    console.log('popstate');
  });
  </script>
</head>
<body>

<%- body %>
<!-- LiveReload
<script src="http://notes:35729/livereload.js?snipver=1"></script>
 -->
</body>
</html>