<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/theme-one.css">
  <link rel="stylesheet" href="/stylesheets/hljs/github.css">
  <link rel="icon" href="/images/favicon.png">
  <% if (typeof prevItem !== 'undefined') { %><link rel="prev" href="<%- prevItem.link %>"><% } %>
  <% if (typeof nextItem !== 'undefined') { %><link rel="next" href="<%- nextItem.link %>"><% } %>
</head>
<body>
<%- body %>
<!-- LiveReload
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
 -->
<!-- <script src="/javascripts/zepto.js"></script> -->
<!-- <script src="/javascripts/jquery.js"></script> -->
<!-- <script src="/javascripts/main.js"></script> -->
<script src="/javascripts/main2.js"></script>
<!-- Bootstrap
<script src="/javascripts/bootstrap.min.js"></script>
-->
<!-- InstantClick
<script src="/javascripts/instantclick.js" data-no-instant></script>
<script data-no-instant>InstantClick.init('mousedown');</script>
 -->
</body>
</html>