body
  background: #ddd

.navbar .brand
  margin-left: 0

.m-navigation
  .directory > a
    color: #d2322d
  .file > a
    color: #00B7FF

.m-content
  padding-bottom: 20px
  margin-bottom: 20px
  background: #fff
  border-radius: 10px

// Hide InstantClick progress bar
#instantclick
  display: none