html {
  background: url("/images/old_map.png");
  min-height: 100%;
}
body {
  background: rgba(255,255,255,0.5);
  min-height: 100%;
}
.navbar .brand {
  margin-left: 0;
}
a {
  color: #00b7ff;
}
.m-breadcrumb {
  padding-left: 0;
  padding-right: 0;
}
.m-breadcrumb ol {
  background-color: #fcfcfc;
}
.m-navigation,
.m-content {
  margin-bottom: 20px;
  background-color: #fcfcfc;
  border-radius: 4px;
  min-height: 200px;
}
.m-content {
  padding: 15px;
}
.m-navigation {
  padding: 4px;
}
#instantclick {
  display: none;
}
