body {
  background: url("/images/congruent_pentagon.png");
}
.navbar .brand {
  margin-left: 0;
}
a {
  color: #00b7ff;
}
.m-content {
  background-color: #fcfcfc;
  border-radius: 4px;
  min-height: 200px;
  margin-bottom: 20px;
}
.m-content .breadcrumb {
  background-color: #f4f4f4;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0;
  border-radius: 0;
}
.m-content .m-navigation {
  padding: 4px;
}
.m-content article {
  padding: 15px;
}
#instantclick-bar {
  background: #ffb40e;
}
