body {
  background: #ddd;
}
.navbar .brand {
  margin-left: 0;
}
.m-navigation .directory > a {
  color: #d2322d;
}
.m-navigation .file > a {
  color: #00b7ff;
}
.m-content {
  padding-bottom: 20px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 10px;
}
#instantclick {
  display: none;
}
