html
  background: url('/images/old_map.png')
  min-height: 100%

body
  // background: url('/images/vintage_speckles.png')
  background: rgba(255, 255, 255, 0.5)
  min-height: 100%

.navbar .brand
  margin-left: 0

a
  color: #00B7FF

.m-breadcrumb
  padding-left: 0
  padding-right: 0
  ol
    background-color: #fcfcfc

.m-navigation,
.m-content
  margin-bottom: 20px
  // background-color: rgba(255, 255, 255, 0.9)
  background-color: #fcfcfc
  border-radius: 4px
  min-height: 200px

.m-content
  padding: 15px

.m-navigation
  padding: 4px

// Hide InstantClick progress bar
#instantclick
  display: none