/*==========================================
 * THEME
 *==========================================*/
body {
  background: url("/images/ricepaper_v3.png");
}
a {
  color: #00a5e6;
}
a:hover {
  color: #006897;
}
a:active {
  outline: 2px solid #00a5e6;
  z-index: 10;
}
a:active:hover {
  outline: 2px solid #006897;
}
.m-container {
  background: #fcfcfc;
  border-radius: 8px 8px 4px 4px;
}
section[role=content] {
  padding: 16px;
}
/*==========================================
 * Directory listing
 *==========================================*/
.m-navigation {
  background: #eee;
}
.m-navigation > ul > li > a {
  color: #888;
}
.m-navigation > ul > li > a:hover,
.m-navigation > ul > li > a:focus {
  background: #fff;
}
.m-navigation > ul > li > a:active:hover {
  outline: 2px solid #b2f6a5;
}
.m-navigation > ul > li.active > a,
.m-navigation > ul > li.active > a:hover,
.m-navigation > ul > li.active > a:focus {
  background: #b2f6a5;
  color: #00920c;
}
/*==========================================
 * Content
 *==========================================*/
article {
  font-family: 'Inconsolata', monospace;
  line-height: 1.5;
  font-size: 16px;
  color: #333;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-family: 'Avenir Next Condensed';
  font-weight: bold;
}
article h1 {
  font-size: 1.7em;
}
article h2 {
  font-size: 1.4em;
}
article h3 {
  font-size: 1.2em;
  font-style: oblique;
}
article h4 {
  font-size: 1em;
}
article ul {
  list-style-type: disc;
  padding-left: 30px;
}
article a {
  text-decoration: underline;
}
#instantclick-bar {
  background-color: #006897;
}
