code,
kbd,
pre,
samp {
  font-family: Inconsolata, monospace;
}
code {
  font-size: 100%;
}
section[role=content] > article > h1:first-child,
section[role=content] > article > h2:first-child,
section[role=content] > article > h3:first-child,
section[role=content] > article > h4:first-child,
section[role=content] > article > h5:first-child,
section[role=content] > article > h6:first-child {
  margin-top: 0 !important;
}
.m-container {
  margin-bottom: 20px;
}
.m-container > .row {
  display: flex;
}
.m-navigation {
  padding: 0;
}
.m-navigation > ul > li.file > a {
  padding-left: 32px;
}
.nav-pills > li > a {
  border-radius: 0;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: initial;
}
.nav-stacked > li + li {
  margin-top: 0;
}
.breadcrumb {
  margin: 0 -15px;
}
.breadcrumb > li {
  white-space: pre;
}
blockquote {
  font-size: 1em;
}
.callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #5bc0de;
  background-color: #f4f8fa;
}
.callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #5bc0de;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout code {
  background-color: #fff;
}
/*==========================================
 * THEME
 *==========================================*/
body {
  background: url("/images/sativa.png");
  -webkit-font-smoothing: antialiased;
}
a {
  color: #00a5e6;
}
a:hover {
  color: #006897;
}
a:active {
  outline: 2px solid #00a5e6;
  z-index: 10;
}
a:active:hover {
  outline: 2px solid #006897;
}
.m-container {
  background: #fcfcfc;
  border-radius: 8px 8px 4px 4px;
}
section[role=content] {
  padding: 16px;
}
/*==========================================
 * Directory listing
 *==========================================*/
.m-navigation {
  background: #eee;
}
.m-navigation > ul > li > a {
  color: #888;
}
.m-navigation > ul > li > a:hover,
.m-navigation > ul > li > a:focus {
  background: #fff;
}
.m-navigation > ul > li > a:active:hover {
  outline: 2px solid #b2f6a5;
}
.m-navigation > ul > li.active > a,
.m-navigation > ul > li.active > a:hover,
.m-navigation > ul > li.active > a:focus {
  background: #b2f6a5;
  color: #00920c;
}
/*==========================================
 * Content
 *==========================================*/
article {
  font-family: 'Inconsolata', monospace;
  line-height: 1.5;
  font-size: 16px;
  color: #333;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-family: 'Avenir Next Condensed';
  font-weight: bold;
}
article h1 {
  font-size: 1.7em;
}
article h2 {
  font-size: 1.4em;
}
article h3 {
  font-size: 1.2em;
  font-style: oblique;
}
article h4 {
  font-size: 1em;
}
article ul {
  list-style-type: disc;
  padding-left: 30px;
}
article a {
  text-decoration: underline;
}
#instantclick-bar {
  background-color: #006897;
}
