html,
body {
  height: 100%;
}
#instantclick {
  display: none;
}
.m-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.m-container > .m-breadcrumb {
  flex-shrink: 0;
}
.m-container > div {
  flex: 1;
  display: flex;
}
.m-container > div > section {
  flex: 1;
}
.m-container > div > nav {
  flex: 0 0 250px;
}
.m-container > div > nav > ul > li.file > a {
  padding-left: 32px;
}
article > h1:first-child,
article > h2:first-child,
article > h3:first-child,
article > h4:first-child,
article > h5:first-child,
article > h6:first-child {
  margin-top: 0;
}
article ul > li > a[href]:first-child {
  text-decoration: none;
  font-weight: bold;
}
article ul > li > a[href]:first-child::after {
  content: attr(href);
  display: table;
  width: auto;
  font-size: 0.8em;
  line-height: 1;
  color: #999;
  font-weight: normal;
}
article code,
article kbd,
article pre,
article samp {
  font-family: Inconsolata, monospace;
  font-size: 1em;
}
article blockquote {
  font-size: 1em;
}
article .callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #5bc0de;
  background-color: #f4f8fa;
}
article .callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #5bc0de;
}
article .callout p:last-child {
  margin-bottom: 0;
}
article .callout code {
  background-color: #fff;
}
article .callout > li {
  white-space: pre;
}
.m-navigation > ul {
  padding-left: 0;
  list-style: none;
}
.m-navigation > ul > li {
  display: block;
}
.m-navigation > ul > li > a {
  display: block;
  padding: 10px 15px;
}
.m-navigation > ul > li > a:hover,
.m-navigation > ul > li > a:focus {
  text-decoration: none;
  outline: 0;
}
@media (max-width: 767px) {
  .m-navigation {
    display: none;
  }
}
/*==========================================
 * THEME
 *==========================================*/
body {
  background: #fff;
}
/*==========================================
 * Breadcrumbs
 *==========================================*/
.m-breadcrumb {
  margin: 0;
  padding: 8px 50px 10px;
  list-style: square;
  background-color: #f5f5f5;
  font-size: 1.1em;
}
.m-breadcrumb > li:first-child {
  display: block;
  font-size: 1.8em;
  line-height: 1.25;
  margin: 0;
}
.m-breadcrumb > li {
  margin-left: 20px;
}
/*==========================================
 * File/Directory sidebar
 *==========================================*/
.m-breadcrumb {
  border-bottom: 5px solid transparent;
}
.m-breadcrumb a:hover {
  text-decoration: none;
}
.m-breadcrumb a:active,
.m-breadcrumb a:focus {
  text-decoration: underline;
}
.m-navigation {
  border-left: 1px solid transparent;
  padding-top: 12px;
  padding-bottom: 12px;
}
.m-navigation > ul > li > a {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  cursor: default;
}
.m-navigation > ul > li.active {
  box-shadow: -2px 0 0 -1px #fff;
}
/*==========================================
 * Custom colors
 *==========================================*/
.m-breadcrumb {
  border-bottom-color: #a0a0a0;
  color: #a0a0a0;
}
.m-breadcrumb a {
  color: #a0a0a0;
}
.m-navigation {
  background: #ebebeb;
  border-left-color: #cdcdcd;
}
.m-navigation > ul > li > a {
  color: #4c4c4c;
}
.m-navigation > ul > li > a:hover,
.m-navigation > ul > li > a:focus {
  background: #f0f0f0;
}
.m-navigation > ul > li > a:active:hover {
  background: #f5f5f5;
}
.m-navigation > ul > li.active > a {
  border-top-color: #cdcdcd;
  border-bottom-color: #cdcdcd;
}
.m-navigation > ul > li.active > a,
.m-navigation > ul > li.active > a:hover,
.m-navigation > ul > li.active > a:focus {
  background: #fff;
  color: #7d7d7d;
}
section[role=content] > hgroup > h1 {
  color: #7d7d7d;
}
.s-purple-mist .m-breadcrumb {
  border-bottom-color: #aa90d3;
  color: #aa90d3;
}
.s-purple-mist .m-breadcrumb a {
  color: #aa90d3;
}
.s-purple-mist .m-navigation {
  background: #ede9f5;
  border-left-color: #d2c6e4;
}
.s-purple-mist .m-navigation > ul > li > a {
  color: #583589;
}
.s-purple-mist .m-navigation > ul > li > a:hover,
.s-purple-mist .m-navigation > ul > li > a:focus {
  background: #f3f0f8;
}
.s-purple-mist .m-navigation > ul > li > a:active:hover {
  background: #f8f7fb;
}
.s-purple-mist .m-navigation > ul > li.active > a {
  border-top-color: #d2c6e4;
  border-bottom-color: #d2c6e4;
}
.s-purple-mist .m-navigation > ul > li.active > a,
.s-purple-mist .m-navigation > ul > li.active > a:hover,
.s-purple-mist .m-navigation > ul > li.active > a:focus {
  background: #fff;
  color: #8967bd;
}
.s-purple-mist section[role=content] > hgroup > h1 {
  color: #8967bd;
}
.s-orange .m-breadcrumb {
  border-bottom-color: #ff9a29;
  color: #ff9a29;
}
.s-orange .m-breadcrumb a {
  color: #ff9a29;
}
.s-orange .m-navigation {
  background: #fdebdc;
  border-left-color: #facba3;
}
.s-orange .m-navigation > ul > li > a {
  color: #ba3f00;
}
.s-orange .m-navigation > ul > li > a:hover,
.s-orange .m-navigation > ul > li > a:focus {
  background: #fef1e6;
}
.s-orange .m-navigation > ul > li > a:active:hover {
  background: #fef6ef;
}
.s-orange .m-navigation > ul > li.active > a {
  border-top-color: #facba3;
  border-bottom-color: #facba3;
}
.s-orange .m-navigation > ul > li.active > a,
.s-orange .m-navigation > ul > li.active > a:hover,
.s-orange .m-navigation > ul > li.active > a:focus {
  background: #fff;
  color: #f27200;
}
.s-orange section[role=content] > hgroup > h1 {
  color: #f27200;
}
.s-blue .m-breadcrumb {
  border-bottom-color: #60aadf;
  color: #60aadf;
}
.s-blue .m-breadcrumb a {
  color: #60aadf;
}
.s-blue .m-navigation {
  background: #e2edf7;
  border-left-color: #b3d2ea;
}
.s-blue .m-navigation > ul > li > a {
  color: #005795;
}
.s-blue .m-navigation > ul > li > a:hover,
.s-blue .m-navigation > ul > li > a:focus {
  background: #eaf2f9;
}
.s-blue .m-navigation > ul > li > a:active:hover {
  background: #f2f7fb;
}
.s-blue .m-navigation > ul > li.active > a {
  border-top-color: #b3d2ea;
  border-bottom-color: #b3d2ea;
}
.s-blue .m-navigation > ul > li.active > a,
.s-blue .m-navigation > ul > li.active > a:hover,
.s-blue .m-navigation > ul > li.active > a:focus {
  background: #fff;
  color: #1f8aca;
}
.s-blue section[role=content] > hgroup > h1 {
  color: #1f8aca;
}
.s-apple .m-breadcrumb {
  border-bottom-color: #7fbf60;
  color: #7fbf60;
}
.s-apple .m-breadcrumb a {
  color: #7fbf60;
}
.s-apple .m-navigation {
  background: #e6f1e1;
  border-left-color: #bfdbb2;
}
.s-apple .m-navigation > ul > li > a {
  color: #146e00;
}
.s-apple .m-navigation > ul > li > a:hover,
.s-apple .m-navigation > ul > li > a:focus {
  background: #ecf4e8;
}
.s-apple .m-navigation > ul > li > a:active:hover {
  background: #f2f7ef;
}
.s-apple .m-navigation > ul > li.active > a {
  border-top-color: #bfdbb2;
  border-bottom-color: #bfdbb2;
}
.s-apple .m-navigation > ul > li.active > a,
.s-apple .m-navigation > ul > li.active > a:hover,
.s-apple .m-navigation > ul > li.active > a:focus {
  background: #fff;
  color: #50a226;
}
.s-apple section[role=content] > hgroup > h1 {
  color: #50a226;
}
.s-cyan .m-breadcrumb {
  border-bottom-color: #17b7cf;
  color: #17b7cf;
}
.s-cyan .m-breadcrumb a {
  color: #17b7cf;
}
.s-cyan .m-navigation {
  background: #dcf0f4;
  border-left-color: #a2d8e3;
}
.s-cyan .m-navigation > ul > li > a {
  color: #006582;
}
.s-cyan .m-navigation > ul > li > a:hover,
.s-cyan .m-navigation > ul > li > a:focus {
  background: #e4f3f6;
}
.s-cyan .m-navigation > ul > li > a:active:hover {
  background: #ecf7f9;
}
.s-cyan .m-navigation > ul > li.active > a {
  border-top-color: #a2d8e3;
  border-bottom-color: #a2d8e3;
}
.s-cyan .m-navigation > ul > li.active > a,
.s-cyan .m-navigation > ul > li.active > a:hover,
.s-cyan .m-navigation > ul > li.active > a:focus {
  background: #fff;
  color: #0099b7;
}
.s-cyan section[role=content] > hgroup > h1 {
  color: #0099b7;
}
/*==========================================
 * Content
 *==========================================*/
section[role=content] {
  padding: 30px 50px;
}
section[role=content] > hgroup {
  margin-bottom: 22px;
}
section[role=content] > hgroup > h1 {
  margin: 0;
  margin-bottom: 2px;
  font-size: 2.15em;
  font-family: 'Avenir Next Condensed';
  font-weight: bold;
}
section[role=content] > hgroup > p {
  display: inline-block;
  font-size: 0.85em;
  opacity: 0.2;
  color: #aaa;
  transition: opacity 0.2s ease;
}
section[role=content] > hgroup > p > .date {
  margin-right: 4px;
}
section[role=content] > hgroup:hover > p {
  opacity: 1;
}
article {
  font-family: 'Inconsolata', monospace;
  line-height: 1.5;
  font-size: 16px;
  color: #333;
  max-width: 650px;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-family: 'Avenir Next Condensed';
  font-weight: bold;
}
article h1 {
  font-size: 1.5em;
}
article h2 {
  font-size: 1.25em;
}
article h3 {
  font-size: 1.1em;
  font-style: oblique;
}
article h4 {
  font-size: 1em;
}
article ul {
  list-style-type: disc;
  padding-left: 30px;
}
article a {
  color: #00a5e6;
}
article a:hover {
  color: #006897;
  text-decoration: underline;
}
article a:active {
  outline: 2px solid #00a5e6;
}
article a:active:hover {
  outline: 2px solid #006897;
}
