body {
  -webkit-font-smoothing: antialiased;
}
#instantclick {
  display: none;
}
html,
body {
  height: 100%;
}
.m-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.m-container > .breadcrumb {
  flex-shrink: 0;
}
.m-container > div {
  flex: 1;
  display: flex;
}
.m-container > div > section {
  flex: 1;
}
.m-container > div > nav {
  flex: 0 0 250px;
}
.m-container > div > nav > ul > li.file > a {
  padding-left: 32px;
}
section[role=content] > article > h1:first-child,
section[role=content] > article > h2:first-child,
section[role=content] > article > h3:first-child,
section[role=content] > article > h4:first-child,
section[role=content] > article > h5:first-child,
section[role=content] > article > h6:first-child {
  margin-top: 0 !important;
}
section[role=content] ul > li > a[href]:first-child {
  text-decoration: none;
  font-weight: bold;
}
section[role=content] ul > li > a[href]:first-child::after {
  content: attr(href);
  display: table;
  width: auto;
  font-size: 0.8em;
  line-height: 1;
  color: #999;
  font-weight: normal;
}
code,
kbd,
pre,
samp {
  font-family: Inconsolata, monospace;
  font-size: 1em;
}
code {
  font-size: 100%;
}
.m-empty {
  padding: 0.75em;
  margin: 1em 1.5em;
  color: #ddd;
  text-align: center;
  background: #f5f5f5;
  border-radius: 10px;
}
.m-empty .glyphicon {
  top: 4px;
}
.nav-pills > li > a {
  border-radius: 0;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: initial;
}
.nav-stacked > li + li {
  margin-top: 0;
}
.breadcrumb {
  margin: 0;
}
.breadcrumb > li {
  white-space: pre;
}
blockquote {
  font-size: 1em;
}
.callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #5bc0de;
  background-color: #f4f8fa;
}
.callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #5bc0de;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout code {
  background-color: #fff;
}
/*==========================================
 * THEME
 *==========================================*/
body {
  background: #fff;
}
section[role=content] {
  padding: 30px 50px;
}
/*==========================================
 * Breadcrumbs
 *==========================================*/
.breadcrumb {
  border-bottom: 5px solid #aa90d3;
  border-radius: 0;
  padding-left: 50px;
}
.breadcrumb > li:first-child {
  font-size: 1.9em;
}
/*==========================================
 * File/Directory sidebar
 *==========================================*/
.m-breadcrumb {
  border-bottom: 5px solid #a0a0a0;
}
.m-breadcrumb a {
  color: #a0a0a0;
}
.m-breadcrumb a:hover {
  text-decoration: none;
}
.m-breadcrumb a:active {
  text-decoration: underline;
}
.m-navigation {
  background: #ebebeb;
  border-left: 1px solid #cdcdcd;
  padding-top: 12px;
  padding-bottom: 12px;
}
.m-navigation > ul > li > a {
  color: #4c4c4c;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.m-navigation > ul > li > a:hover,
.m-navigation > ul > li > a:focus {
  background: #f0f0f0;
}
.m-navigation > ul > li > a:active:hover {
  background: #f5f5f5;
}
.m-navigation > ul > li.active {
  box-shadow: -2px 0 0 -1px #fff;
}
.m-navigation > ul > li.active > a {
  border-top-color: #cdcdcd;
  border-bottom-color: #cdcdcd;
}
.m-navigation > ul > li.active > a,
.m-navigation > ul > li.active > a:hover,
.m-navigation > ul > li.active > a:focus {
  background: #fff;
  color: #7d7d7d;
}
/*==========================================
 * Custom colors
 *==========================================*/
.s-purple-mist .m-breadcrumb {
  border-bottom-color: #aa90d3;
}
.s-purple-mist .m-breadcrumb a {
  color: #aa90d3;
}
.s-purple-mist .m-navigation {
  background: #ede9f5;
  border-left-color: #d2c6e4;
}
.s-purple-mist .m-navigation > ul > li > a {
  color: #583589;
}
.s-purple-mist .m-navigation > ul > li > a:hover,
.s-purple-mist .m-navigation > ul > li > a:focus {
  background: #f3f0f8;
}
.s-purple-mist .m-navigation > ul > li > a:active:hover {
  background: #f8f7fb;
}
.s-purple-mist .m-navigation > ul > li.active > a {
  border-top-color: #d2c6e4;
  border-bottom-color: #d2c6e4;
}
.s-purple-mist .m-navigation > ul > li.active > a,
.s-purple-mist .m-navigation > ul > li.active > a:hover,
.s-purple-mist .m-navigation > ul > li.active > a:focus {
  background: #fff;
  color: #8967bd;
}
.s-orange .m-breadcrumb {
  border-bottom-color: #ff9a29;
}
.s-orange .m-breadcrumb a {
  color: #ff9a29;
}
.s-orange .m-navigation {
  background: #fdebdc;
  border-left-color: #facba3;
}
.s-orange .m-navigation > ul > li > a {
  color: #ba3f00;
}
.s-orange .m-navigation > ul > li > a:hover,
.s-orange .m-navigation > ul > li > a:focus {
  background: #fef1e6;
}
.s-orange .m-navigation > ul > li > a:active:hover {
  background: #fef6ef;
}
.s-orange .m-navigation > ul > li.active > a {
  border-top-color: #facba3;
  border-bottom-color: #facba3;
}
.s-orange .m-navigation > ul > li.active > a,
.s-orange .m-navigation > ul > li.active > a:hover,
.s-orange .m-navigation > ul > li.active > a:focus {
  background: #fff;
  color: #f27200;
}
.s-blue .m-breadcrumb {
  border-bottom-color: #60aadf;
}
.s-blue .m-breadcrumb a {
  color: #60aadf;
}
.s-blue .m-navigation {
  background: #e2edf7;
  border-left-color: #b3d2ea;
}
.s-blue .m-navigation > ul > li > a {
  color: #005795;
}
.s-blue .m-navigation > ul > li > a:hover,
.s-blue .m-navigation > ul > li > a:focus {
  background: #eaf2f9;
}
.s-blue .m-navigation > ul > li > a:active:hover {
  background: #f2f7fb;
}
.s-blue .m-navigation > ul > li.active > a {
  border-top-color: #b3d2ea;
  border-bottom-color: #b3d2ea;
}
.s-blue .m-navigation > ul > li.active > a,
.s-blue .m-navigation > ul > li.active > a:hover,
.s-blue .m-navigation > ul > li.active > a:focus {
  background: #fff;
  color: #1f8aca;
}
.s-apple .m-breadcrumb {
  border-bottom-color: #7fbf60;
}
.s-apple .m-breadcrumb a {
  color: #7fbf60;
}
.s-apple .m-navigation {
  background: #e6f1e1;
  border-left-color: #bfdbb2;
}
.s-apple .m-navigation > ul > li > a {
  color: #146e00;
}
.s-apple .m-navigation > ul > li > a:hover,
.s-apple .m-navigation > ul > li > a:focus {
  background: #ecf4e8;
}
.s-apple .m-navigation > ul > li > a:active:hover {
  background: #f2f7ef;
}
.s-apple .m-navigation > ul > li.active > a {
  border-top-color: #bfdbb2;
  border-bottom-color: #bfdbb2;
}
.s-apple .m-navigation > ul > li.active > a,
.s-apple .m-navigation > ul > li.active > a:hover,
.s-apple .m-navigation > ul > li.active > a:focus {
  background: #fff;
  color: #50a226;
}
/*==========================================
 * Content
 *==========================================*/
article {
  font-family: 'Inconsolata', monospace;
  line-height: 1.5;
  font-size: 16px;
  color: #333;
  max-width: 650px;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-family: 'Avenir Next Condensed';
  font-weight: bold;
}
article h1 {
  font-size: 1.7em;
}
article h2 {
  font-size: 1.4em;
}
article h3 {
  font-size: 1.2em;
  font-style: oblique;
}
article h4 {
  font-size: 1em;
}
article ul {
  list-style-type: disc;
  padding-left: 30px;
}
article a {
  color: #00a5e6;
  text-decoration: underline;
}
article a:hover {
  color: #006897;
}
article a:active {
  outline: 2px solid #00a5e6;
  z-index: 10;
}
article a:active:hover {
  outline: 2px solid #006897;
}
#instantclick-bar {
  background-color: #006897;
}
