body
  background: url('/images/old_map_50.png')

.navbar .brand
  margin-left: 0

a
  color: #00B7FF

// a:active
//   color: #eee
//   background-color: #000

.m-breadcrumb
  padding-left: 0
  padding-right: 0
  ol
    background-color: #fcfcfc

.m-navigation,
.m-content
  margin-bottom: 20px
  background-color: #fcfcfc
  border-radius: 4px
  min-height: 200px

.m-content
  padding: 15px

.m-navigation
  padding: 4px

// InstantClick progress bar
// #instantclick
//   display: none
#instantclick-bar
  background: #ffb40e