body
  background: url('/images/congruent_pentagon.png')

.navbar .brand
  margin-left: 0

a
  color: #00B7FF

// a:active
//   color: #eee
//   background-color: #000

.m-content
  background-color: #fcfcfc
  border-radius: 4px
  min-height: 200px
  margin-bottom: 20px

  .breadcrumb
    background-color: #f4f4f4
    margin-left: -15px
    margin-right: -15px
    margin-bottom: 0
    border-radius: 0

  .m-navigation
    padding: 4px

  article
    padding: 15px

// InstantClick progress bar
// #instantclick
//   display: none
#instantclick-bar
  background: #ffb40e