@require 'includes/base.styl'

$link-color = #00a5e6
$hover-link-color = darken(saturate($link-color, 20), 20)

$content-bg = #fff

/*==========================================
 * THEME
 *==========================================*/

body
	background: $content-bg

section[role=content]
	padding: 30px 50px

/*==========================================
 * Breadcrumbs
 *==========================================*/

.breadcrumb
	border-bottom: 5px solid #aa90d3
	border-radius: 0

	> li:first-child
		font-size: 1.9em

/*==========================================
 * File/Directory sidebar
 *==========================================*/

$nav-bg = #ede9f5
$nav-link-color = #583589

$nav-active-bg = #fff
$nav-active-link-color = #8967bd

$nav-border = #d2c6e4

.m-navigation
	background: $nav-bg
	border-left: 1px solid $nav-border
	padding-top: 12px
	padding-bottom: 12px

.m-navigation > ul > li
	&.active
		box-shadow: -2px 0 0 -1px $content-bg;

		> a
			border-top-color: $nav-border
			border-bottom-color: $nav-border

	> a
		color: $nav-link-color
		border-top: 1px solid transparent
		border-bottom: 1px solid transparent

		&:hover,
		&:focus
			background: lighten($nav-bg, 2)

		&:active:hover
			outline: 0
			background: lighten($nav-bg, 4)

	&.active > a,
	&.active > a:hover,
	&.active > a:focus
		background: $nav-active-bg
		color: $nav-active-link-color

	// &.file > a::before,
	// &.directory > a::before
	//   display: inline
	//   padding: .2em .6em .3em
	//   font-size: 75%
	//   font-weight: bold
	//   line-height: 1
	//   color: #fff
	//   text-align: center
	//   white-space: nowrap
	//   vertical-align: baseline
	//   border-radius: .25em
	//   margin-right: 7px

	// &.directory > a::before
	//   content: "DIR"
	//   background-color: #5cb85c

	// &.file > a::before
	//   content: "MD"
	//   background-color: #999

/*==========================================
 * Content
 *==========================================*/

article
	font-family: 'Inconsolata', monospace
	line-height: 1.5
	font-size: 16px
	color: #333
	max-width: 650px

	h1, h2, h3, h4, h5, h6
		font-family: 'Avenir Next Condensed'
		font-weight: bold

	h1
		font-size: 1.7em

	h2
		font-size: 1.4em

	h3
		font-size: 1.2em
		font-style: oblique

	h4
		font-size: 1em

	ul
		list-style-type: disc
		padding-left: 30px

	a
		color: $link-color
		text-decoration: underline

		&:hover
			color: $hover-link-color

		&:active
			outline: 2px solid $link-color
			z-index: 10

			&:hover
				outline: 2px solid $hover-link-color

#instantclick-bar
	background-color: $hover-link-color