@require 'includes/base.styl'

$link-color = #00a5e6
$hover-link-color = darken(saturate($link-color, 20), 20)

$content-bg = #fff

/*==========================================
 * THEME
 *==========================================*/

body
	background: $content-bg

/*==========================================
 * Breadcrumbs
 *==========================================*/

.m-header
	padding: 8px 50px 10px
	background-color: hsl(0, 0%, 96%)

	ol
		margin: 0
		padding: 0

	> ol
		list-style: none
		font-size: 1.1em

		> li:first-child
			margin: 0
			font-size: 1.8em
			line-height: 1.25
		> li
			margin: 10px 0 0
			> ol
				list-style-type: none
				font-size: 1.2em
				> li
					display: inline-block
					> a::after
						content: "•"
						padding: 0 15px
						color: #ccc
				> li:last-child > a::after
					display: none

/*==========================================
 * File/Directory sidebar
 *==========================================*/

.m-header
	border-bottom: 5px solid transparent // color later
	a:hover
		text-decoration: none
	a:active, a:focus
		text-decoration: underline

.m-navigation
	border-left: 1px solid transparent // color later
	padding-top: 12px
	padding-bottom: 12px

	> ul > li
		> a
			border-top: 1px solid transparent
			border-bottom: 1px solid transparent
			cursor: default

		&.active
			box-shadow: -2px 0 0 -1px $content-bg

/*==========================================
 * Custom colors
 *==========================================*/

custom-color()
	.m-header
		border-bottom-color: $stripe-color
		a
			color: #a0a0a0

	.m-navigation
		background: $nav-bg
		border-left-color: $nav-border

		> ul > li
			> a
				color: $nav-link-color
				&:hover,
				&:focus
					background: lighten($nav-bg, 2)
				&:active:hover
					background: lighten($nav-bg, 4)

			&.active
				> a
					border-top-color: $nav-border
					border-bottom-color: $nav-border
				> a,
				> a:hover,
				> a:focus
					background: $content-bg
					color: $nav-link-color-active

	section[role=content] > hgroup > h1
		color: $nav-link-color-active

// None
$stripe-color = hsl(0, 0, 62.75%) // #a0a0a0
$nav-bg = hsl(0, 0, 92.16%) // #ebebeb
$nav-border = hsl(0, 0, 80.39%) // #cdcdcd
$nav-link-color = hsl(0, 0, 29.80%) // #4c4c4c
$nav-link-color-active = hsl(0, 0, 49.02%) // #7d7d7d
custom-color()

// Purple
$stripe-color = #aa90d3
$nav-bg = #ede9f5
$nav-border = #d2c6e4
$nav-link-color = #583589
$nav-link-color-active = #8967bd
.s-purple-mist
	custom-color()

// Orange
$stripe-color = #ff9a29
$nav-bg = #fdebdc
$nav-border = #facba3
$nav-link-color = #ba3f00
$nav-link-color-active = #f27200
.s-orange
	custom-color()

// Blue
$stripe-color = #60aadf
$nav-bg = #e2edf7
$nav-border = #b3d2ea
$nav-link-color = #005795
$nav-link-color-active = #1f8aca
.s-blue
	custom-color()

// Apple
$stripe-color = #7fbf60
$nav-bg = #e6f1e1
$nav-border = #bfdbb2
$nav-link-color = #146e00
$nav-link-color-active = #50a226
.s-apple
	custom-color()

// cyan
$stripe-color = #17b7cf
$nav-bg = #dcf0f4
$nav-border = #a2d8e3
$nav-link-color = #006582
$nav-link-color-active = #0099b7
.s-cyan
	custom-color()

/*==========================================
 * Content
 *==========================================*/

section[role=content]
	padding: 30px 50px

	> hgroup
		margin-bottom: 22px

		> h1
			margin: 0
			margin-bottom: 2px
			font-size: 2.15em
			font-family: 'Avenir Next'
			// font-weight: bold

		> p
			display: inline-block
			font-size: 0.85em
			opacity: 0.2
			color: #aaa
			transition: opacity 0.2s ease

			> .date
				margin-right: 4px

		&:hover > p
			opacity: 1


article
	font-family: 'Inconsolata', monospace
	line-height: 1.5
	font-size: 16px
	color: #333
	max-width: 650px

	h1, h2, h3, h4, h5, h6
		font-family: 'Avenir Next', sans-serif
		// font-weight: bold

	h1
		font-size: 1.5em

	h2
		font-size: 1.3em

	h3
		font-size: 1.1em
		font-style: oblique

	h4
		font-size: 1em

	ul
		list-style-type: disc
		padding-left: 30px

	a
		color: $link-color

		&:hover
			color: $hover-link-color
			text-decoration: underline

		&:active
			outline: 2px solid $link-color
			&:hover
				outline: 2px solid $hover-link-color