code, kbd, pre, samp
  font-family: Inconsolata, monospace

code
	font-size: 100%

section[role=content]
	padding: 16px

	> article > h1:first-child,
	> article > h2:first-child,
	> article > h3:first-child,
	> article > h4:first-child,
	> article > h5:first-child,
	> article > h6:first-child
	  margin-top: 0 !important

.m-content
  margin-bottom: 20px
  min-height: 360px

.m-navigation
  padding: 0

  & > ul > li.file > a
    padding-left: 32px

/*==========================================
 * Bootstrap customizations
 *==========================================*/

.nav-pills > li > a
  border-radius: 0

.nav > li > a:hover,
.nav > li > a:focus
  background-color: initial

.nav-stacked > li + li
  margin-top: 0

.breadcrumb
  margin: 0 -15px

  > li
  	white-space: pre

blockquote
	font-size: 1em

/*==========================================
 * Callout boxes
 *==========================================*/

.callout
  margin: 20px 0
  padding: 20px
  border-left: 3px solid #5bc0de
  background-color: #f4f8fa
  // border-left: 3px solid #f0ad4e
  // background-color: #fcf8f2

  h4
    margin-top: 0
    margin-bottom: 5px
    color: #5bc0de
    // color: #f0ad4e

  p:last-child
    margin-bottom: 0

  code
    background-color: #fff