body
	// -webkit-font-smoothing: antialiased
	// text-rendering: optimizeLegibility

html, body
	height: 100%

#instantclick
	display: none

.m-container
	display: flex
	flex-direction: column
	min-height: 100%

	> .m-breadcrumb
		flex-shrink: 0

	> div
		flex: 1
		display: flex

		> section
			flex: 1

		> nav
			flex: 0 0 250px

			> ul > li.file > a
				padding-left: 32px

/*==========================================
 * Content
 *==========================================*/

article
	> h1:first-child,
	> h2:first-child,
	> h3:first-child,
	> h4:first-child,
	> h5:first-child,
	> h6:first-child
		margin-top: 0

	// Link URL in lists
	ul > li > a[href]:first-child
		text-decoration: none
		font-weight: bold
		&::after
			content: attr(href)
			display: table
			width: auto
			font-size: 0.8em
			line-height: 1
			color: #999
			font-weight: normal

	code, kbd, pre, samp
		font-family: Inconsolata, monospace
		font-size: 1em

	blockquote
		font-size: 1em

	// Callout boxes
	.callout
		margin: 20px 0
		padding: 20px
		border-left: 3px solid #5bc0de // #f0ad4e
		background-color: #f4f8fa // #fcf8f2

		h4
			margin-top: 0
			margin-bottom: 5px
			color: #5bc0de // #f0ad4e

		p:last-child
			margin-bottom: 0

		code
			background-color: #fff

		> li
			white-space: pre

/*==========================================
 * Navigation
 *==========================================*/

.m-navigation > ul
	padding-left: 0
	list-style: none

	> li
		display: block

		> a
			display: block
			padding: 10px 15px

		> a:hover,
		> a:focus
			text-decoration: none // Override Bootstrap
			outline: 0            // Override Firefox

@media (max-width: 767px)
	.m-navigation
		display: none